.bg-white{
    background-color: #ffffff;
}

.text-cyan{
    color: cyan;
}

.flexshrink-0{
    flex-shrink: 0;
}

.btn-learn-more{
    color: white;
    background: #7DF9FF;
    border-radius: 8px;
    border: 1px solid #ffffff; 
    box-shadow: 0px 8px 24px 0px rgba(125, 249, 255, 0.22);
    text-align: center;
    flex-shrink: 0;
    padding: 12px 20px;

}

.btn-schedule-pickup{
    color: white;
    background: #7DF9FF;
    border: 1px solid #ffffff; 
    border-radius: 8px;
    box-shadow: 0px 8px 24px 0px rgba(125, 249, 255, 0.22);
    text-align: center;
    flex-shrink: 0;
    padding: 12px 20px;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #dbdada; 
  }

.btn-FAQs{
    color: white;
    border-radius: 8px;
    background: #7DF9FF;
    box-shadow: 0px 8px 24px 0px rgba(125, 249, 255, 0.22);
    text-align: center;
    font-size: large;
    font-weight: 500;
    flex-shrink: 0;
    width: 120px;
}

.text-one{
    color: #B9B9B9;
    font-family: Cardium B;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.938% ; /* 35.5px */
}

.text-two{
    color: #FFF;
    font-family: Cardium A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%; /*  20px*/
}

.line {
    /* margin-left: 50px; */
    border: none;
    border-bottom: 2px solid #000;
    border-color: #FFF;
    width: 350px;
    height: 1px;
}

.customer{
    width: 354px;
    height: 383px;
    flex-shrink: 0;
}

.custom-card-img1 {
    width: 76px;
    height: 57px;
    flex-shrink: 0;
  }

  .custom-card-img2 {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
  }

  .custom-card-img3 {
    width: 76px;
    height: 83.076px;
    flex-shrink: 0;
  }

.custom-card-radius{
    border-radius: 10px;
    border: 1px solid #7DF9FF;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(125, 249, 255, 0.18);
}

.custom-card-font{
    color: #000;
    font-family: Cardium B;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-card-disc-font{
    color: #000;
    font-family: Cardium B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.shipping-truck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-top: 100px;
}

.delivery-boxes{
    width: 1300px;
    flex-shrink: 0;
    padding-top: 30px;

}

.sitting-man-background{
    width: 1000px;
    height: 277px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    margin-top: 210px;
}


.iPhone-image{
    display: flex;
    width: 370px;
    flex-shrink: 0;
}
  
.font-14{
    font-size: 14px;
}

.container-margin{
    margin-bottom: 580px;
}
